{% extends 'journal/base.html' %}

{% block title %}Додавання тегів{% endblock %}

{% block content %}

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="x-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
    </symbol>
</svg>

<form action="{% url 'add_tags' %}?tag_list={{tag_list}}&article_slug={{article_slug}}" method="post">
    {% csrf_token %}
    <div class="form-group">
        <!-- {{ form.name.label_tag }}
        {{ form.name }} -->
        <!-- {{form.as_p}} -->

        <div class="mb-0">
            <label for="{{ form.name.id_for_label }}">Тег:</label>
            <input type="text" name="name" class="form-control" placeholder="Введіть назву тегу" maxlength="100" required id="id_name">
        </div>

        <div class="d-flex gap-2 py-4 flex-wrap">
            {% for tag in tag_list %}
            <span class="mb-2 badge d-flex p-2 align-items-center text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-pill">
              <span class="px-1">{{tag}}</span>
              <a href="{% url 'a_delete_tag' %}?tag_list={{tag_list}}&article_slug={{article_slug}}&tag={{tag}}"><svg class="bi ms-1" width="16" height="16"><use xlink:href="#x-circle-fill"/></svg></a>
            </span>
            {% endfor %}
        </div>

        <!-- {{ form.name.errors }} -->

    </div>
    <button type="submit" class="btn btn-secondary mt-0">Додати тег</button>
</form>

<form action="{% url 'creating_article' %}?tag_list={{tag_list}}&article_slug={{article_slug}}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary mt-5">Створити статтю</button>
</form>

{% endblock %}