{% extends 'journal/base.html' %}

{% block title %}Створення статті{% endblock %}

{% block content %}

<form class="was-validated" action="{% url 'create_article' %}" method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->

    {{ form.non_field_errors }}

    <div class="mb-3">
        <label class="form-label" for="{{ form.title.id_for_label }}">Заголовок:</label>
        <!-- {{ form.title }} -->
        <input class="form-control" type="text" name="title" id="id_title" value="{{ form.title.value|default_if_none:'' }}" required>
        <div class="invalid-feedback">Це поле обов'язкове.</div>
        {{ form.title.errors }}
    </div>
    <div class="mb-3">
        <label for="{{ form.content.id_for_label }}">Вміст:</label>
        <!-- {{ form.content }} -->
        <textarea class="form-control" name="content" cols="60" rows="10" required id="id_content">{{ form.content.value|default_if_none:'' }}</textarea>
        <div class="invalid-feedback">Це поле обов'язкове.</div>
        {{ form.content.errors }}
    </div>
    <div class="fieldWrapper mb-5">
      <div style="display: flex; align-items: stretch;">
         <div>
            <label class="mb-2" for="{{ form.categories.id_for_label }}">Категорії:</label>
         </div>
         <!-- {{ form.categories }} -->
         <div style="margin-left: 5px;">
            {% if form.categories.errors %}
               {% for error in form.categories.errors %}
                  <p>({{error}})</p>
               {% endfor %}
            {% endif %}
         </div>
      </div>

         {% for checkbox in form.categories %}
            <div id="{{ form.categories.id_for_label }}" class="form-check">
               <!-- {{ checkbox.tag }} -->
               <input type="checkbox" name="{{ checkbox.data.name }}" value="{{ checkbox.data.value }}" id="{{ checkbox.id_for_label }}" class="form-check-input" {% if checkbox.data.attrs.checked %}checked{% endif %}>
               <label for="{{ checkbox.id_for_label }}">{{ checkbox.choice_label }}</label>
            </div>
         {% endfor %}

    </div>


    <!-- <div>
        <label for="id_title">Title:</label>
        <input type="text" name="title" maxlength="200" required id="id_title">
     </div>
     <div>
        <label for="id_content">Content:</label>
        <textarea name="content" cols="60" rows="10" required id="id_content">
        </textarea>
     </div>
     <div>
        <label for="id_slug">Slug:</label>
        <input type="text" name="slug" maxlength="200" required id="id_slug">
     </div>
     <div>
        <fieldset>
           <legend>Categories:</legend>
           <div id="id_categories">
              <div>
                 <label for="id_categories_0"><input type="checkbox" name="categories" value="1" id="id_categories_0">
                 Наука</label>
              </div>
              <div>
                 <label for="id_categories_1"><input type="checkbox" name="categories" value="2" id="id_categories_1">
                 Технології</label>
              </div>
           </div>
        </fieldset>
     </div> -->


    <button class="btn btn-primary mb-5" type="submit">Перейти до додавання тегів</button>
</form>

{% endblock %}